/* Make all text event pictures the same size */ 
.thumbnails {
    width:64px;
    height:64px;
}


/* For header, footer and sidebar to be rounded with same color */ 
.roundedGray {
    border-radius: 10px;
    background: #434A54;
  }

/* Force white text over bootflat default */ 
#whiteText {
    color: white;
}

/* For sidebar to take up more veritcal space */ 
.sideBar {
    height: 600px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Used to place sidebar button more towards the center */ 
.sidebarBtn {
    margin-left: 30px;
    margin-top: 30px;
}

#timeInput {
    margin-right: -29px;
}

#ampm {
    margin-top: 30px; 
}

@media screen and (max-width: 980px) {
    /* Used to shrink sidebar when on small screen device */ 
    .sideBar {
        height: 100px;
    }
  }